<a href="https://colab.research.google.com/github/Nisha-sah/Concepts-and-Technologies-of-AI/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Week - 2 - Describing the World with Data/Dataset/Titanic-Dataset.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
import pandas as pd
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
import pandas as pd
class_age  = df[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
import pandas as pd
survived_gender = df[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:
#Subsetting:
import pandas as pd
fare_gt_100 = df[df['fare']>100]
print(fare_gt_100)

     survived  pclass     sex    age  sibsp  parch      fare embarked  class  \
27          0       1    male  19.00      3      2  263.0000        S  First
31          1       1  female    NaN      1      0  146.5208        C  First
88          1       1  female  23.00      3      2  263.0000        S  First
118         0       1    male  24.00      0      1  247.5208        C  First
195         1       1  female  58.00      0      0  146.5208        C  First
215         1       1  female  31.00      1      0  113.2750        C  First
258         1       1  female  35.00      0      0  512.3292        C  First
268         1       1  female  58.00      0      1  153.4625        S  First
269         1       1  female  35.00      0      0  135.6333        S  First
297         0       1  female   2.00      1      2  151.5500        S  First
299         1       1  female  50.00      0      1  247.5208        C  First
305         1       1    male   0.92      1      2  151.5500        S  First
306         1       1  female    NaN      0      0  110.8833        C  First
307         1       1  female  17.00      1      0  108.9000        C  First
311         1       1  female  18.00      2      2  262.3750        C  First
318         1       1  female  31.00      0      2  164.8667        S  First
319         1       1  female  40.00      1      1  134.5000        C  First
325         1       1  female  36.00      0      0  135.6333        C  First
332         0       1    male  38.00      0      1  153.4625        S  First
334         1       1  female    NaN      1      0  133.6500        S  First
337         1       1  female  41.00      0      0  134.5000        C  First
341         1       1  female  24.00      3      2  263.0000        S  First
373         0       1    male  22.00      0      0  135.6333        C  First
377         0       1    male  27.00      0      2  211.5000        C  First
380         1       1  female  42.00      0      0  227.5250        C  First
390         1       1    male  36.00      1      2  120.0000        S  First
393         1       1  female  23.00      1      0  113.2750        C  First
435         1       1  female  14.00      1      2  120.0000        S  First
438         0       1    male  64.00      1      4  263.0000        S  First
498         0       1  female  25.00      1      2  151.5500        S  First
505         0       1    male  18.00      1      0  108.9000        C  First
527         0       1    male    NaN      0      0  221.7792        S  First
537         1       1  female  30.00      0      0  106.4250        C  First
544         0       1    male  50.00      1      0  106.4250        C  First
550         1       1    male  17.00      0      2  110.8833        C  First
557         0       1    male    NaN      0      0  227.5250        C  First
581         1       1  female  39.00      1      1  110.8833        C  First
609         1       1  female  40.00      0      0  153.4625        S  First
659         0       1    male  58.00      0      2  113.2750        C  First
660         1       1    male  50.00      2      0  133.6500        S  First
679         1       1    male  36.00      0      1  512.3292        C  First
689         1       1  female  15.00      0      1  211.3375        S  First
698         0       1    male  49.00      1      1  110.8833        C  First
700         1       1  female  18.00      1      0  227.5250        C  First
708         1       1  female  22.00      0      0  151.5500        S  First
716         1       1  female  38.00      0      0  227.5250        C  First
730         1       1  female  29.00      0      0  211.3375        S  First
737         1       1    male  35.00      0      0  512.3292        C  First
742         1       1  female  21.00      2      2  262.3750        C  First
763         1       1  female  36.00      1      2  120.0000        S  First
779         1       1  female  43.00      0      1  211.3375        S  First
802         1       1    male  11.00      1      2  120.0000        S  First
856         1       1  female  45.00      1      1  164.8667        S  First

       who  adult_male deck  embark_town alive  alone
27     man        True    C  Southampton    no  False
31   woman       False    B    Cherbourg   yes  False
88   woman       False    C  Southampton   yes  False
118    man        True    B    Cherbourg    no  False
195  woman       False    B    Cherbourg   yes   True
215  woman       False    D    Cherbourg   yes  False
258  woman       False  NaN    Cherbourg   yes   True
268  woman       False    C  Southampton   yes  False
269  woman       False    C  Southampton   yes   True
297  child       False    C  Southampton    no  False
299  woman       False    B    Cherbourg   yes  False
305  child       False    C  Southampton   yes  False
306  woman       False  NaN    Cherbourg   yes   True
307  woman       False    C    Cherbourg   yes  False
311  woman       False    B    Cherbourg   yes  False
318  woman       False    C  Southampton   yes  False
319  woman       False    E    Cherbourg   yes  False
325  woman       False    C    Cherbourg   yes   True
332    man        True    C  Southampton    no  False
334  woman       False  NaN  Southampton   yes  False
337  woman       False    E    Cherbourg   yes   True
341  woman       False    C  Southampton   yes  False
373    man        True  NaN    Cherbourg    no   True
377    man        True    C    Cherbourg    no  False
380  woman       False  NaN    Cherbourg   yes   True
390    man        True    B  Southampton   yes  False
393  woman       False    D    Cherbourg   yes  False
435  child       False    B  Southampton   yes  False
438    man        True    C  Southampton    no  False
498  woman       False    C  Southampton    no  False
505    man        True    C    Cherbourg    no  False
527    man        True    C  Southampton    no   True
537  woman       False  NaN    Cherbourg   yes   True
544    man        True    C    Cherbourg    no  False
550    man        True    C    Cherbourg   yes  False
557    man        True  NaN    Cherbourg    no   True
581  woman       False    C    Cherbourg   yes  False
609  woman       False    C  Southampton   yes   True
659    man        True    D    Cherbourg    no  False
660    man        True  NaN  Southampton   yes  False
679    man        True    B    Cherbourg   yes  False
689  child       False    B  Southampton   yes  False
698    man        True    C    Cherbourg    no  False
700  woman       False    C    Cherbourg   yes  False
708  woman       False  NaN  Southampton   yes   True
716  woman       False    C    Cherbourg   yes   True
730  woman       False    B  Southampton   yes   True
737    man        True    B    Cherbourg   yes   True
742  woman       False    B    Cherbourg   yes  False
763  woman       False    B  Southampton   yes  False
779  woman       False    B  Southampton   yes  False
802  child       False    B  Southampton   yes  False
856  woman       False  NaN  Southampton   yes  False

In [ ]:
import pandas as pd
first_class = df[df['pclass'] == 1]
print(first_class)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns]

In [ ]:
import pandas as pd
female_under_18 = df[(df['age'] < 18) & (df['sex'] == 'female')]
print(female_under_18)

     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
14          0       3  female  14.00      0      0    7.8542        S   Third
22          1       3  female  15.00      0      0    8.0292        Q   Third
24          0       3  female   8.00      3      1   21.0750        S   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
58          1       2  female   5.00      1      2   27.7500        S  Second
68          1       3  female  17.00      4      2    7.9250        S   Third
71          0       3  female  16.00      5      2   46.9000        S   Third
84          1       2  female  17.00      0      0   10.5000        S  Second
111         0       3  female  14.50      1      0   14.4542        C   Third
114         0       3  female  17.00      0      0   14.4583        C   Third
119         0       3  female   2.00      4      2   31.2750        S   Third
147         0       3  female   9.00      2      2   34.3750        S   Third
156         1       3  female  16.00      0      0    7.7333        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
184         1       3  female   4.00      0      2   22.0250        S   Third
205         0       3  female   2.00      0      1   10.4625        S   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
233         1       3  female   5.00      4      2   31.3875        S   Third
237         1       2  female   8.00      0      2   26.2500        S  Second
297         0       1  female   2.00      1      2  151.5500        S   First
307         1       1  female  17.00      1      0  108.9000        C   First
329         1       1  female  16.00      0      1   57.9792        C   First
374         0       3  female   3.00      3      1   21.0750        S   Third
381         1       3  female   1.00      0      2   15.7417        C   Third
389         1       2  female  17.00      0      0   12.0000        C  Second
419         0       3  female  10.00      0      2   24.1500        S   Third
435         1       1  female  14.00      1      2  120.0000        S   First
446         1       2  female  13.00      0      1   19.5000        S  Second
448         1       3  female   5.00      2      1   19.2583        C   Third
469         1       3  female   0.75      2      1   19.2583        C   Third
479         1       3  female   2.00      0      1   12.2875        S   Third
504         1       1  female  16.00      0      0   86.5000        S   First
530         1       2  female   2.00      1      1   26.0000        S  Second
535         1       2  female   7.00      0      2   26.2500        S  Second
541         0       3  female   9.00      4      2   31.2750        S   Third
542         0       3  female  11.00      4      2   31.2750        S   Third
618         1       2  female   4.00      2      1   39.0000        S  Second
634         0       3  female   9.00      3      2   27.9000        S   Third
642         0       3  female   2.00      3      2   27.9000        S   Third
644         1       3  female   0.75      2      1   19.2583        C   Third
689         1       1  female  15.00      0      1  211.3375        S   First
691         1       3  female   4.00      0      1   13.4167        C   Third
720         1       2  female   6.00      0      1   33.0000        S  Second
750         1       2  female   4.00      1      1   23.0000        S  Second
777         1       3  female   5.00      0      0   12.4750        S   Third
780         1       3  female  13.00      0      0    7.2292        C   Third
781         1       1  female  17.00      1      0   57.0000        S   First
813         0       3  female   6.00      4      2   31.2750        S   Third
830         1       3  female  15.00      1      0   14.4542        C   Third
852         0       3  female   9.00      1      1   15.2458        C   Third
853         1       1  female  16.00      0      1   39.4000        S   First
875         1       3  female  15.00      0      0    7.2250        C   Third

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
22   child       False  NaN   Queenstown   yes   True
24   child       False  NaN  Southampton    no  False
39   child       False  NaN    Cherbourg   yes  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
68   woman       False  NaN  Southampton   yes  False
71   woman       False  NaN  Southampton    no  False
84   woman       False  NaN  Southampton   yes   True
111  child       False  NaN    Cherbourg    no  False
114  woman       False  NaN    Cherbourg    no   True
119  child       False  NaN  Southampton    no  False
147  child       False  NaN  Southampton    no  False
156  woman       False  NaN   Queenstown   yes   True
172  child       False  NaN  Southampton   yes  False
184  child       False  NaN  Southampton   yes  False
205  child       False    G  Southampton    no  False
208  woman       False  NaN   Queenstown   yes   True
233  child       False  NaN  Southampton   yes  False
237  child       False  NaN  Southampton   yes  False
297  child       False    C  Southampton    no  False
307  woman       False    C    Cherbourg   yes  False
329  woman       False    B    Cherbourg   yes  False
374  child       False  NaN  Southampton    no  False
381  child       False  NaN    Cherbourg   yes  False
389  woman       False  NaN    Cherbourg   yes   True
419  child       False  NaN  Southampton    no  False
435  child       False    B  Southampton   yes  False
446  child       False  NaN  Southampton   yes  False
448  child       False  NaN    Cherbourg   yes  False
469  child       False  NaN    Cherbourg   yes  False
479  child       False  NaN  Southampton   yes  False
504  woman       False    B  Southampton   yes   True
530  child       False  NaN  Southampton   yes  False
535  child       False  NaN  Southampton   yes  False
541  child       False  NaN  Southampton    no  False
542  child       False  NaN  Southampton    no  False
618  child       False    F  Southampton   yes  False
634  child       False  NaN  Southampton    no  False
642  child       False  NaN  Southampton    no  False
644  child       False  NaN    Cherbourg   yes  False
689  child       False    B  Southampton   yes  False
691  child       False  NaN    Cherbourg   yes  False
720  child       False  NaN  Southampton   yes  False
750  child       False  NaN  Southampton   yes  False
777  child       False  NaN  Southampton   yes   True
780  child       False  NaN    Cherbourg   yes   True
781  woman       False    B  Southampton   yes  False
813  child       False  NaN  Southampton    no  False
830  child       False  NaN    Cherbourg   yes  False
852  child       False  NaN    Cherbourg    no  False
853  woman       False    D  Southampton   yes  False
875  child       False  NaN    Cherbourg   yes   True

In [ ]:
#Subsetting Rows by Categorical Variables
import pandas as pd
embarked_c_or_s = df[(df['embarked'] == 'C') | (df['embarked'] == 'S')]
print(embarked_c_or_s)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
884         0       3    male  25.0      0      0   7.0500        S   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
884    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True

[812 rows x 15 columns]

In [ ]:

first_second_class = df[df['pclass'].isin([1, 2])]


print(first_second_class)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
3           1       1  female  35.0      1      0  53.1000        S   First
6           0       1    male  54.0      0      0  51.8625        S   First
9           1       2  female  14.0      1      0  30.0708        C  Second
11          1       1  female  58.0      0      0  26.5500        S   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
9    child       False  NaN    Cherbourg   yes  False
11   woman       False    C  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[400 rows x 15 columns]

In [7]:
import pandas as pd

df["Age"].fillna(df["Age"].median(), inplace=True)
df["fare_per_year"] = df["Fare"] / df["Age"]

df.head()

/tmp/ipython-input-1783653594.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [8]:
high_fare_age = df[df["fare_per_year"] > 5]
print(high_fare_age )

     PassengerId  Survived  Pclass  \
7              8         0       3
16            17         0       3
27            28         0       1
31            32         1       1
43            44         1       2
..           ...       ...     ...
813          814         0       3
824          825         0       3
827          828         1       2
831          832         1       2
850          851         0       3

                                               Name     Sex    Age  SibSp  \
7                    Palsson, Master. Gosta Leonard    male   2.00      3
16                             Rice, Master. Eugene    male   2.00      4
27                   Fortune, Mr. Charles Alexander    male  19.00      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.00      1
43         Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
..                                              ...     ...    ...    ...
813              Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
824                    Panula, Master. Urho Abraham    male   2.00      4
827                           Mallet, Master. Andre    male   1.00      0
831                 Richards, Master. George Sibley    male   0.83      1
850         Andersson, Master. Sigvard Harald Elias    male   4.00      4

     Parch           Ticket      Fare        Cabin Embarked  fare_per_year
7        1           349909   21.0750          NaN        S      10.537500
16       1           382652   29.1250          NaN        Q      14.562500
27       2            19950  263.0000  C23 C25 C27        S      13.842105
31       0         PC 17569  146.5208          B78        C       5.232886
43       2    SC/Paris 2123   41.5792          NaN        C      13.859733
..     ...              ...       ...          ...      ...            ...
813      2           347082   31.2750          NaN        S       5.212500
824      1          3101295   39.6875          NaN        S      19.843750
827      2  S.C./PARIS 2079   37.0042          NaN        C      37.004200
831      1            29106   18.7500          NaN        S      22.590361
850      2           347082   31.2750          NaN        S       7.818750

[71 rows x 13 columns]

In [9]:
high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False)
print(high_fare_age_srt)

     PassengerId  Survived  Pclass  \
305          306         1       1
297          298         0       1
386          387         0       3
164          165         0       3
183          184         1       2
..           ...       ...     ...
348          349         1       3
31            32         1       1
205          206         0       3
813          814         0       3
480          481         0       3

                                               Name     Sex    Age  SibSp  \
305                  Allison, Master. Hudson Trevor    male   0.92      1
297                    Allison, Miss. Helen Loraine  female   2.00      1
386                 Goodwin, Master. Sidney Leonard    male   1.00      5
164                    Panula, Master. Eino Viljami    male   1.00      4
183                       Becker, Master. Richard F    male   1.00      2
..                                              ...     ...    ...    ...
348          Coutts, Master. William Loch "William"    male   3.00      1
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.00      1
205                      Strom, Miss. Telma Matilda  female   2.00      0
813              Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
480                  Goodwin, Master. Harold Victor    male   9.00      5

     Parch      Ticket      Fare    Cabin Embarked  fare_per_year
305      2      113781  151.5500  C22 C26        S     164.728261
297      2      113781  151.5500  C22 C26        S      75.775000
386      2     CA 2144   46.9000      NaN        S      46.900000
164      1     3101295   39.6875      NaN        S      39.687500
183      1      230136   39.0000       F4        S      39.000000
..     ...         ...       ...      ...      ...            ...
348      1  C.A. 37671   15.9000      NaN        S       5.300000
31       0    PC 17569  146.5208      B78        C       5.232886
205      1      347054   10.4625       G6        S       5.231250
813      2      347082   31.2750      NaN        S       5.212500
480      2     CA 2144   46.9000      NaN        S       5.211111

[71 rows x 13 columns]

In [10]:
result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

In [11]:
result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [13]:
import pandas as pd
df["fare_per_class"] = df['Fare'] / df['Pclass']
adult_males = df[(df["Sex"] == "male") & (df["Age"] >= 18)]

adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending=False)
result = adult_males_srt[["Name", "Age", "fare_per_class"]]
result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [14]:
import pandas as pd
total_fare = df['Fare'].sum()
print (total_fare)

28693.9493

In [26]:

# First class total fare
fare_first = df[df["Pclass"] == 1]["Fare"].sum()
print(fare_first)

# Second class total fare
fare_second = df[df["Pclass"] == 2]["Fare"].sum()
print(fare_second)

# Third class total fare
fare_third = df[df["Pclass"] == 3]["Fare"].sum()
print(fare_third)

# Combine into a list
fare_list = [fare_first, fare_second, fare_third]
print(fare_list)

18177.4125
3801.8417
6714.6951
[np.float64(18177.4125), np.float64(3801.8417), np.float64(6714.6951)]

In [27]:

fare_revenue = [f / total_fare for f in fare_list]
print(fare_revenue)

[np.float64(0.6334928771899656), np.float64(0.1324962855496507), np.float64(0.23401083726038366)]

In [28]:

# Step 1
df["Age"].fillna(df["Age"].median(), inplace=True)

df["age_group"] = pd.cut(
    df["Age"],
    bins=[0, 18, 65, 120],
    labels=["child", "adult", "senior"],
    right=False
)

# Step 2
total_passengers = len(df)

# Step 3
age_group_counts = df["age_group"].value_counts()

# Step 4
age_group_proportion = age_group_counts / total_passengers

# Step 5
age_group_percentage = (age_group_proportion * 100).round(2)
age_group_percentage

/tmp/ipython-input-1460135651.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

age_group
adult     86.08
child     12.68
senior     1.23
Name: count, dtype: float64